body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loadingScreen {
    position: absolute; /* Changed to absolute to ensure it covers the whole page initially */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure it's above the main content initially */
}

#counter {
    font-size: 5em;
    font-weight: bold;
}

#mainContent {
    /* Ensure the main content takes full width and is centered */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 2s;
    position: relative; /* Make sure it's positioned relative to transition in */
    z-index: 0; /* Lower z-index after loading */
}

.hidden {
    display: none;
}

h1, p, #menu {
    margin: 20px 0; /* Add some spacing */
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

p {
    font-size: 1.2em;
}

#menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    font-size: 1.2em;
    opacity: 0.7;
    transition: opacity 0.5s;
}

#menu a:hover {
    opacity: 1;
}
.info-contact-content {
    transition: opacity 2s ease-in-out;
    opacity: 0; /* Start invisible */
}

/* Additional style for hover effects directly on phone and email might be needed */
#phone:hover, #email:hover {
    cursor: pointer; /* Indicates an interactive element */
}
#phone, #email, #infoLink, #contactLink {
    color: white; /* Ensure text is white */
}

#phone:hover, #email:hover, #infoLink:hover, #contactLink:hover {
    color: white; /* Maintain white text on hover */
}
#phone, #email, #infoLink, #contactLink, #backLink {
    color: white; /* Ensure text is white */
    text-decoration: none; /* Remove underline */
}

#phone:hover, #email:hover, #infoLink:hover, #contactLink:hover, #backLink:hover {
    color: white; /* Maintain white text on hover */
    text-decoration: none; /* Ensure underline doesn't reappear on hover */
}
.game-image {
    width: 50%; /* Adjust width as necessary */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Use block to center the image if needed */
    margin: 0 auto; /* Center the image horizontally */
}
