body, h1, p, a {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black; /* Ensure background is black */
}

.hidden {
    display: none;
}

.counter {
    font-size: 50px;
    color: white; /* Ensure text is white */
}

#mainContent h1, #mainContent p, .buttons a {
    color: white; /* Text color white for all elements */
}

.buttons a {
    margin: 20px;
    padding: 10px;
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}
